<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <listener>
  	<listener-class>listener.SessionListener</listener-class>
  </listener>
  <servlet>
  	<servlet-name>prviservlet</servlet-name>
  	<display-name>prviservlet</display-name>
  	<description></description>
  	<servlet-class>servlets.prviservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>vozniPark</servlet-name>
  	<display-name>vozniPark</display-name>
  	<description></description>
  	<servlet-class>servlets.vozniPark</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>cenovnik</servlet-name>
  	<display-name>cenovnik</display-name>
  	<description></description>
  	<servlet-class>servlets.cenovnik</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>iznajmljivanjeServlet</servlet-name>
  	<display-name>iznajmljivanjeServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.iznajmljivanjeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>cenovnikServlet</servlet-name>
  	<display-name>cenovnikServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.cenovnikServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>rezervisiServlet</servlet-name>
  	<display-name>rezervisiServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.rezervisiServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>vozniParkServlet</servlet-name>
  	<display-name>vozniParkServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.vozniParkServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginFilter</servlet-name>
  	<display-name>LoginFilter</display-name>
  	<description></description>
  	<servlet-class>servlets.LoginFilter</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>registerServlet</servlet-name>
  	<display-name>registerServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.registerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>homeServlet</servlet-name>
  	<display-name>homeServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.homeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>kontaktServlet</servlet-name>
  	<display-name>kontaktServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.kontaktServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>razduziServlet</servlet-name>
  	<display-name>razduziServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.razduziServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>adminCenovnikServlet</servlet-name>
  	<display-name>adminCenovnikServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.adminCenovnikServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>uploadServlet</servlet-name>
  	<display-name>uploadServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.uploadServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>pregledIznajmljivanjaServlet</servlet-name>
  	<display-name>pregledIznajmljivanjaServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.pregledIznajmljivanjaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>klijentServlet</servlet-name>
  	<display-name>klijentServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.klijentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>prviservlet</servlet-name>
  	<url-pattern>/prviservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>vozniPark</servlet-name>
  	<url-pattern>/vozniPark</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>cenovnik</servlet-name>
  	<url-pattern>/cenovnik</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>iznajmljivanjeServlet</servlet-name>
  	<url-pattern>/iznajmljivanjeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>cenovnikServlet</servlet-name>
  	<url-pattern>/cenovnikServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>rezervisiServlet</servlet-name>
  	<url-pattern>/rezervisiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>vozniParkServlet</servlet-name>
  	<url-pattern>/vozniParkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginFilter</servlet-name>
  	<url-pattern>/LoginFilter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>registerServlet</servlet-name>
  	<url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>homeServlet</servlet-name>
  	<url-pattern>/homeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>kontaktServlet</servlet-name>
  	<url-pattern>/kontaktServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>razduziServlet</servlet-name>
  	<url-pattern>/razduziServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>adminCenovnikServlet</servlet-name>
  	<url-pattern>/adminCenovnikServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>uploadServlet</servlet-name>
  	<url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pregledIznajmljivanjaServlet</servlet-name>
  	<url-pattern>/pregledIznajmljivanjaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>klijentServlet</servlet-name>
  	<url-pattern>/klijentServlet</url-pattern>
  </servlet-mapping>
  
</web-app>
